.contenedorPrincipal{
    margin-top: 100px;
}
.columna{
    margin-bottom: 20px;
}
.margenIz{
    margin-left: 20px;
}
.registerData{
    margin-top: 5px;
    margin-bottom: 5px;
}
.contenedorSecundaria{
    margin-top: 200px;
}
.columnaSecundaria{
    margin-top: 30px;
}